page-delivery_charges {
    .button-full {
        margin-top: 15px;
    }
     .tab-bar {
        padding: 0 10px !important;
        min-height: 42px;
        .toolbar-background {
            background: #5ebfdd !important;
        }
        .segment-button {
            text-transform: none;
            color: #ffffff;
            margin-bottom: -0 !important;
            position: relative;
            border: none !important;
            &::after {
                content: '';
                display: block;
                height: 4px;
                width: 60px;
                position: absolute;
                bottom: 0px;
                margin: auto;
                left: 0;
                right: 0;
            }
            &.segment-activated {
                &::after {
                    background: #fff;
                }
            }
        }
    }
}